*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
      }
}
.heading{
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading img{
    width: 10vw;
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;

}
.navbar{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding-right: 20px;
     flex-wrap: wrap;

}
input{
   padding: 8px;
   border-radius: 5px;
   width: 10vw;
   flex-wrap: wrap;
}
.btn{
  padding: 9px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  border: none;
  margin: 2px;
  color: white;
}
.btn:hover{
    background-color: white;
    color: black;
}
.banner{
    background-color: black;
    height: 400px;
}
.card{
    width: 200px;
    height: 300px;
    padding: 5px;
    transition: transform 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(-10px) scale(1.05);
}
.row{
    padding: 10px;
    overflow-x: auto;
    background-color: black;
}
.row>div{
    display: flex;
}
h2{
    color: white;
}
.banner-title{
    position: relative;
    top: 7rem;
    width: 40vw;
    height: 30vh;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}
h3{
    font-weight: 700;
}
p{
    font-weight: 500;
    margin-top: 10px;
}
button{
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 30px;
    color: black;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}
.genreBox {
    overflow-x: auto;
    display: flex;
    height: 100px;
    background-color: black;
    flex: 0%;
    > a {
      color: black;
      background-color: white;
      padding: 1rem 0;
      text-align: center;
      border-radius: 5px;
      transition: all 0.5s;
      min-width: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      &:hover {
        background-color: rgb(236, 236, 236);
      }
    }
  }

@media (min-width: 320px) and (max-width: 768px){
    .banner-title{
        position: relative;
        top: 4rem;
        width: 60vw;
        height: 30vh;
        padding: 10px;
        display: block;
        justify-content: center;
        align-items: center;
    }
}